@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* banner section small device  */
@media screen and (max-width: 567px) {
    .banner-section {
        flex-direction: column-reverse;
    }

    .banner-content {
        margin-top: 30px;
    }

    .image {
        width: 20%;
    }
}

/* .flowers-card img {
    width: 100%;
} */

/* flowers card device */

@media screen and (max-width:576px) {
    .flowers-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:372px) {
    .flowers-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 40px;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .flowers-card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* trusted badge section  */
.badge-img {
    margin: -160px;
    margin-left: -189px;
    margin-top: -90px;
}

/* trusted badge section media query */
@media screen and (max-width: 576px) {
    .trusted-badge {
        display: grid;
        flex-direction: column-reverse;
        margin-top: 50px;
    }

    .trusted-content {
        margin-top: -20px;
    }

    .flower-title {
        margin-top: 0px;
        font-size: 40px;
    }
}

/* medium device  */
@media screen and (min-width:576px) and (max-width: 768px) {
    .trusted-badge {
        display: grid;
        flex-direction: column;
        margin-top: 50px;
    }

    .flower-img {
        width: 100%;
        margin-left: 40px;
    }

    .badge-img {
        display: none;
    }

    .trusted-content {
        margin-top: -100px;
        margin-left: 50px;
    }
}